<!-- Landing Page -->
<div id="landing-page" fxFill fxLayout="column">
  <mat-toolbar>
    <div
      class="login-container content-center"
      fxLayout="row"
      fxLayoutAlign="space-between center" fxFlex="100%"
    >
      <div fxLayout="row">
        <div class="cardioBox">CardioBox</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="2rem">
        <div class="nav-item">FAQ</div>
        <div class="nav-item">About Us</div>
        <button
          class="start-trial-btn"
          mat-flat-button>
          Follow Us
        </button>
      </div>
    </div>
  </mat-toolbar>
  
  <!-- Content -->
  <div>
    <!-- Front View -->
    <div class="top-sect">
      <div
        class="content-center"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
      >
        <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="column">
          <div class="heading">All you need to get <span class="accent-fg">fit</span>
          </div>
          <div class="content-title">
            CardioBox gives you tailored workout regimens and allows you to track your progress while having fun working out.
          </div>
          <button mat-flat-button class="start-now">
            Get started
          </button>
        </div>
      </div>
    </div>
    
    <!-- Feature -->
    <div class="content-center grey-background" fxLayout="column" fxLayoutGap="3rem">
      <div fxLayout="row" fxlayout.xs="column">
        <div fxFlex fxLayoutAlign="center start" fxLayout="column">
          <div class="heading">Get workout regimens specifically tailored for you</div>
          <div class="sub-heading">Tired of workouts that you aren’t able to keep up with?</div>
          <div class="details">
            CardioBox provides you with workouts suitable for your current fitness level and increases difficulty in a smooth manner.
          </div>
        </div>
        <div fxFlex>
          <img
          class="float-right"
          src="assets/smooth_fitness.jpg"
          width="90%"
          alt="notification"
        />
        </div>
      </div>

      <div fxLayout="row" fxlayout.xs="column">
        <div fxFlex>
          <img
          class="logo"
          src="assets/track.jpg"
          width="90%"
          alt="notification"
        />
        </div>
        <div fxFlex fxLayoutAlign="center start" fxLayout="column">
          <div class="heading">Track your fitness level
          </div>
          <div class="sub-heading">Don’t see progress according to the amount of effort you put?
          </div>
          <div class="details">
            CardioBox gives you one of the best tracking mechanisms that makes sure you’re working out as much as you think you do.
          </div>
        </div>
      </div>

      <div fxLayout="row" fxlayout.xs="column">
        <div fxFlex fxLayoutAlign="center start" fxLayout="column">
          <div class="heading">Get a new regimen everyday
          </div>
          <div class="sub-heading">Tired of the same workouts everyday?
          </div>
          <div class="details">
            CardioBox gives you a new regimen everyday, such that you’ll never be bored. It also makes sure that your muscles get enough rest by regulating exercises accordingly.
          </div>
        </div>
        <div fxFlex>
          <img
          class="float-right"
          src="assets/rest.jpg"
          width="90%"
          alt="notification"
        />
        </div>
      </div>

      <div fxLayout="row" fxlayout.xs="column">
        <div fxFlex>
          <img
          class="logo"
          src="assets/games.jpg"
          width="90%"
          alt="notification"
        />
        </div>
        <div fxFlex fxLayoutAlign="center start" fxLayout="column">
          <div class="heading">Gamified Workouts
          </div>
          <div class="sub-heading">Is playing games a motivation for you?
          </div>
          <div class="details">
            CardioBox allows you to shed calories while having the fun of playing a game.
          </div>
        </div>
      </div>
    </div>

    <!-- Pricing -->
    <div class="content-center black-background">
      <div class="module-title"><span class="accent-fg">PRICING</span> PACKAGE</div>
      <div
        fxLayout="row wrap"
        fxLayoutGap="4.5rem"
        fxLayoutAlign="center center"
      >
        <div class="pricing-card" fxLayout="column" fxLayoutAlign="center center">
          <div class="plan">Monthly Plan</div>
          <div class="amount">$10</div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button class="choose-plan">
              Choose Plan
            </button>
          </div>
        </div>

        <div class="pricing-card" fxLayout="column" fxLayoutAlign="center center">
          <div class="plan">Yearly Plan</div>
          <div class="amount">$100</div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button class="choose-plan">
              Choose Plan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
